services:
  api:
    build: .
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    container_name: celery-worker
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
